html, body {
    background-color:#212121;
    color:#ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: table;
}

#content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#text {
    font-size: 30pt;
    font-family: 'Sansita Swashed', cursive;
}

#line {
    font-size: 12pt;
    font-family: monospace;
}